.content__banner {
  width: 100%;
  @include flex;
  margin-bottom: 38px;
  
}


.content__banner-img {
  box-sizing: border-box;
  max-width: 320px;
  max-height: 150px;



  @media(min-width: $tablet) {
    // padding: 0 80px;
    max-width: 768px;
      max-height: 361px;

  }

  @media(min-width: $desktop) {
    // padding: 0 215px;
    max-width: 1170px;
      max-height: 550px;

  }
}