.header__container-burger {
  position: relative;
  z-index: 1;
  width: 44px;
  height: 37px;
  background-color: #000;
  border: none;
  float: right;
  
  
  

  .burger-line {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 17px;
    height: 2px;
    transition: transform 0.3s ease-in-out;

    &:nth-of-type(1) {
      margin-top: -4px;
    }

    &:nth-of-type(2) {
      margin-top: 0;
    }

    &:nth-of-type(3) {
      margin-top: 4px;
    }
  }

  &.active {
    .burger-line {
      &:nth-of-type(1) {
        transform: rotate(45deg) translateY(9px) translateX(-3px);
      }

      &:nth-of-type(2) {
        transform: translate(-50%, -50%) scale(0);
      }

      &:nth-of-type(3) {
        transform: rotate(-45deg) translateY(-9px) translateX(-4px);
      }
    }
  }
}

@media(min-width: $tablet) {
  .burger-wrapper {
    display: none
  }
}