@import"./mixin.scss";

.footer {
  width: 100%;
  height: 373px;
  background-color: #000;

  @media(min-width:$tablet) {
    height: 332px;

  }

  @media(min-width:$desktop) {
    height: 355px;

  }


  & div {
    color: #fff;
    text-align: center;
  }
}

.footer__title {
  padding-top: 38px;
  padding-bottom: 8px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;

  @media(min-width:$tablet) {
    padding-top: 57px;

  }

  @media(min-width:$desktop) {
    padding-top: 66px;
  }
}


.footer__text {
  margin: 0 auto;
  width: 304px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;

  &-mobile {
    display: block;
  }

  &-additional {
    display: none;
  }

  @media(min-width:$tablet) {
    width: 518px;

    .footer__text-mobile {
      display: none;
    }

    .footer__text-additional {
      display: block;
    }
  }
}



.footer__social-logo {
  margin-top: 25px;
  margin-bottom: 25px;
}

.footer__adress {
  display: flex;
  margin: 0 auto;
  width: 208px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;

  @media(min-width: $tablet) {
    width: 100%;
    @include flex
  }

  ;
}