@import "./variables.scss";

.header {
  @include flex;
}

.header__container {
  margin: 0 auto;
  height: 83px;
  width: 100%;
  height: 37px;
  margin-top: 23px;
  margin-bottom: 28px;

  @media(min-width: $tablet) {
    margin-bottom: 28px;
  }

  @media(min-width: $desktop) {
    margin-bottom: 51px;
  }
}

.header__container-navbar.active {
  display: flex;
  position: relative;



  .navbar-items {
    display: flex;
    position: absolute;
    right: 0px;
    top: 37px;
    width: 183px;
    height: 208px;
    flex-direction: column;
    z-index: 5;
    background-color: rgba(245, 245, 245, 1);
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    gap: 8px;
    text-transform: uppercase;
    text-decoration: none;


    @media(min-width: $tablet) {
      display: none;
      

    }

    & a {
      color: $titleFontColor;
      text-decoration: none;
      padding-left: 12px;
    }

    & a:hover {
      color: rgba(87, 164, 164, 1);

    }
  }
}

// .navbar-items a:hover{
//   color: rgba(87, 164, 164, 1);
// }

.header__container-navbar {
  display: none;

  @media(min-width: $tablet) {
    @include flex;

    & a {
      color: $titleFontColor;
      ;
      text-decoration: none;
    }
  }
}



.navbar-items {
  display: flex;

  font-size: 11px;
  font-weight: 400;
  line-height: 22px;
  gap: 32px;
  text-transform: uppercase;
  padding-right: 34px;
  text-decoration: none;
  & a:hover {
      color: rgba(87, 164, 164, 1);
    }

  @media(min-width: $desktop) {
    gap: 68px;
  }
}