.instagram__wrapper {
  width: 100%;
  height: 373px;
  margin-top: 45px;

  @media(min-width: $tablet) {
    background-color: #e6e8eb;
    margin-top: 45px;
    height: 403px;
  }

 @media(min-width: $tablet) {
   background-color: #e6e8eb;
   margin-top: 45px;
   height: 427px;
 }

}

.instagram__container {
  width: 330px;
  margin: 0 auto;

  @media(min-width: $tablet) {
    width: 768px;
    margin: 0 auto;
  }
 @media(min-width: $desktop) {
   width: 1170px;
   margin: 0 auto;
 }

}

;

.instagram-title {
  display: flex;
  justify-content: space-between;
  padding: 20px 28px 13px 0px;
  text-transform: uppercase;
  color: $titleFontColor;



  p:first-child {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;

    @media(min-width: $tablet) {

      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
    }
  }

  p:last-child {
    display: none;

    @media(min-width: $tablet) {
      display: block;
      font-size: 13px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
    }
  }

  @media(min-width: $tablet) {
    padding: 45px 0 35px 0;
  }

  @media(min-width: $desktop) {
    padding: 45px 0 35px 0;

  }
}

;

.instagram__items {
  display: flex;
  width: 301px;
  height: 301px;

  img:nth-child(n+2) {
    display: none;
  }

  @media(min-width: $tablet) {


    img:first-child {
      width: 249px;
      height: 249px;
    }

    gap: 10px;

    img:nth-child(n+2) {
      display: block;
      width: 249px;
      height: 249px;
    }

    img:nth-child(n+4) {
      display: none;
    }
  }

  @media(min-width: $desktop) {
    img:nth-child(n+0) {
      display: block;
      width: 285px;
      height: 285px;
    }
  }

}