@import"./variables.scss";


.card1,
.card2,
.card3 {
  margin-bottom: 32px;
}

.card4 {
  display: none;

  @media(min-width:$tablet) {
    display: block;
  }
}

 .content__posts-wrapper{
  
  
  @media(min-width: $desktop) {
      display: grid;
        grid-template-columns: 1fr 1fr;
    }
 }

.content__posts-card {
  .img {
    height: 140px;

  }

  @media(min-width: $tablet) {
    display: flex;
  }

  @media(min-width: $desktop) {
    // display: grid;
    //   grid-template-columns: 1fr 1fr;
  }
}

.posts-card-img {
  margin-bottom: 11px;
}


.content__posts-title {
  color: $titleFontColor;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 23px;
  width: 100%;
}

.post-card-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: $titleFontColor;
  margin-bottom: 0px;


}

.posts-card-content{
    width: 404px;
  @media(min-width: $tablet) {
      padding-left: 20px;
    }
}

.posts-card-discription {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: $decriptionFontColor;
  display: none;
  @media(min-width: $tablet) {
      display: block;
    }
  
    @media(min-width: $desktop) {
      display: block
    }

}

.posts-card-comments {
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: $commentsFontColor;
  @media(min-width: $tablet) {
      margin-bottom: 13px;
    }
}

.content__posts {
  width: 100%;
  margin-bottom: 43px;

  @media(min-width: $tablet) {
   
    padding: 0 0px;
    margin-bottom: 60px;
  }

  @media(min-width: $desktop) {
    
    margin-bottom: 69px;
    
  }
}